[submodule "6-sorter-utility"]
	path = 6-sorter-utility
	url = git@github.com:spbu-coding-2022/6-sorter-utility.git
[submodule "6-AlexShmak"]
	path = 6-AlexShmak
	url = git@github.com:spbu-coding-2022/6-AlexShmak.git
[submodule "6-Anna-er"]
	path = 6-Anna-er
	url = git@github.com:spbu-coding-2022/6-Anna-er.git
[submodule "6-Artem-Rzhankoff"]
	path = 6-Artem-Rzhankoff
	url = git@github.com:spbu-coding-2022/6-Artem-Rzhankoff.git
[submodule "6-ArtyomProkopets"]
	path = 6-ArtyomProkopets
	url = git@github.com:spbu-coding-2022/6-ArtyomProkopets.git
[submodule "6-Kuarni"]
	path = 6-Kuarni
	url = git@github.com:spbu-coding-2022/6-Kuarni.git
[submodule "6-Parzival-05"]
	path = 6-Parzival-05
	url = git@github.com:spbu-coding-2022/6-Parzival-05.git
[submodule "6-PavlushaSource"]
	path = 6-PavlushaSource
	url = git@github.com:spbu-coding-2022/6-PavlushaSource.git
[submodule "6-Stemble-dev"]
	path = 6-Stemble-dev
	url = git@github.com:spbu-coding-2022/6-Stemble-dev.git
[submodule "6-Urtix"]
	path = 6-Urtix
	url = git@github.com:spbu-coding-2022/6-Urtix.git
[submodule "6-ancavar"]
	path = 6-ancavar
	url = git@github.com:spbu-coding-2022/6-ancavar.git
[submodule "6-juliakononov"]
	path = 6-juliakononov
	url = git@github.com:spbu-coding-2022/6-juliakononov.git
[submodule "6-nemakin"]
	path = 6-nemakin
	url = git@github.com:spbu-coding-2022/6-nemakin.git
[submodule "6-osogi"]
	path = 6-osogi
	url = git@github.com:spbu-coding-2022/6-osogi.git
[submodule "6-sokolovskiy-ilya"]
	path = 6-sokolovskiy-ilya
	url = git@github.com:spbu-coding-2022/6-sokolovskiy-ilya.git
[submodule "6-therain7"]
	path = 6-therain7
	url = git@github.com:spbu-coding-2022/6-therain7.git
[submodule "6-wokuparalyzed"]
	path = 6-wokuparalyzed
	url = git@github.com:spbu-coding-2022/6-wokuparalyzed.git
[submodule "6-Lesh79"]
	path = 6-Lesh79
	url = git@github.com:spbu-coding-2022/6-Lesh79.git
[submodule "6-SurfaceYellowDuck"]
	path = 6-SurfaceYellowDuck
	url = git@github.com:spbu-coding-2022/6-SurfaceYellowDuck.git
[submodule "6-gladiuswq"]
	path = 6-gladiuswq
	url = git@github.com:spbu-coding-2022/6-gladiuswq.git
[submodule "6-ALanovaya"]
	path = 6-ALanovaya
	url = git@github.com:spbu-coding-2022/6-ALanovaya.git
[submodule "6-Alabs1"]
	path = 6-Alabs1
	url = git@github.com:spbu-coding-2022/6-Alabs1.git
[submodule "6-GryaznovAS"]
	path = 6-GryaznovAS
	url = git@github.com:spbu-coding-2022/6-GryaznovAS.git
[submodule "6-ItIsMrLaG"]
	path = 6-ItIsMrLaG
	url = git@github.com:spbu-coding-2022/6-ItIsMrLaG.git
[submodule "6-ksenmel"]
	path = 6-ksenmel
	url = git@github.com:spbu-coding-2022/6-ksenmel.git
[submodule "6-raf-nr"]
	path = 6-raf-nr
	url = git@github.com:spbu-coding-2022/6-raf-nr.git
[submodule "6-tepa46"]
	path = 6-tepa46
	url = git@github.com:spbu-coding-2022/6-tepa46.git
[submodule "6-twotwozeronine"]
	path = 6-twotwozeronine
	url = git@github.com:spbu-coding-2022/6-twotwozeronine.git
[submodule "6-LeonidElkin"]
	path = 6-LeonidElkin
	url = git@github.com:spbu-coding-2022/6-LeonidElkin.git
[submodule "6-MahaDeborah"]
	path = 6-MahaDeborah
	url = git@github.com:spbu-coding-2022/6-MahaDeborah.git
[submodule "6-aartdem"]
	path = 6-aartdem
	url = git@github.com:spbu-coding-2022/6-aartdem.git
[submodule "6-mloleg"]
	path = 6-mloleg
	url = git@github.com:spbu-coding-2022/6-mloleg.git
[submodule "6-VsevolodPotylkin"]
	path = 6-VsevolodPotylkin
	url = git@github.com:spbu-coding-2022/6-VsevolodPotylkin.git
[submodule "6-d-zaytsev"]
	path = 6-d-zaytsev
	url = git@github.com:spbu-coding-2022/6-d-zaytsev.git
[submodule "6-Bore4s"]
	path = 6-Bore4s
	url = git@github.com:spbu-coding-2022/6-Bore4s.git
